.nos_container {
  background-image: url(../../imgs/body/aver.svg);
  background-size: 90%;
  background-position: center;
}

.nos_tittle {
  text-align: center;
  background-color: var(--d-green);
  display: block;
  padding: 0.5rem;
  box-shadow: 0 0 6px var(--black);
  font-size: 1.5em;
  color: var(--white);
  font-weight: bold;
}

.nos_collage-description,
.nos_ss-description,
.nos_ts-description {
  margin: 1rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.nos_collage-description p,
.nos_ts-description p {
  text-align: justify;
}

.nos_second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--d-green);
  box-shadow: 0 0 6px var(--black);
}

.nos_ss-tittle {
  font-size: 2rem;
  color: var(--white);
  padding: 0.5rem;
}

.nos_ss-img {
  width: 90%;
  max-width: 600px;
  height: 320px;
  margin: auto;
  background-image: url('../../imgs/nosotros/srRafaelPadre.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  border: 3px solid var(--d-yellow);
  box-shadow: inset 0 0 16px var(--black);
}

.nos_ss-description p {
  text-align: justify;
}

.nos_third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nos_ts-misvis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.nos_ts-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.nos_ts-description h3 {
  color: var(--d-green);
  text-shadow: 0 0 2px var(--d-yellow);
  font-size: 2rem;
}

.nos_ts-imgmisvis {
  width: 90%;
  max-width: 600px;
  margin-bottom: 1rem;
}

.nos_ts-imgmisvis img {
  width: 100%;
  border-radius: 8px;
  border: 4px solid var(--d-yellow);
}
